$simple-carousel_move-speed: 500ms !default;

._simple-carousel {
    overflow-x: hidden;

    .tray {
        display: block;
        white-space: nowrap;
        will-change: transform;
        transition: transform $simple-carousel_move-speed linear;

        ._carousel-element {
            display: inline-block;
        }
    }
}
