._simple-carousel {
    overflow-x: hidden;

    .tray {
        display: block;
        white-space: nowrap;
        will-change: transform;
        transition: transform 1000ms linear;

        ._carousel-element {
            display: inline-block;
        }
    }
}
